@tailwind base;
@tailwind components;
@tailwind utilities;

.flex-center {
  @apply flex items-center justify-center;
}

.flex-col-center {
  @apply flex flex-col items-center justify-center;
}

.pointer {
  @apply cursor-pointer
}

.custom-margin {
  margin-top: 140px;
  margin-bottom: 80px;
}

.custom-login {
  margin-top: 80px
}

.border-custom-dotted {
  border-style: dotted;
  border-width: 1px;
  border-color: white;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: #efeff0;
  -webkit-box-shadow: none;
  transition: background-color 5000s ease-in-out 0s;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 3s ease forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}